.finalScoreSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #63c8ff;
    font-size: 80px;

    button {
        color: #63e5ff;
        font-size: 80px;
    }
}