<h3>Total Score: {{totalScore}}</h3>
<section class="imageContainer">
    <img src={{currentPokemon.pokemon_image}} [ngClass]="revealPokemon ? 'revealPokemon' : 'hidePokemon'" alt="" aria-label="Pokemon">
</section>
<section class="answerContainer">
    <button *ngFor="let answer of currentPokemon.pokemon_names" [ngClass]="[selectedAnswerStyle(answer), revealCorrectAnswer(answer)]" (click)="selectAnswer(answer)" [disabled]="disableButtons">{{answer}}</button>
</section>
<div class="nextContainer">
    <button *ngIf="revealPokemon" (click)="onNextClick()">&#187;</button>
</div>