.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        margin-top: 5rem;
        scale: 4;

        &.hidePokemon {
            filter: brightness(0%);
        }

        &.revealPokemon {
            filter: brightness(100%);
        }
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 2rem;
    font-size: 32px;
}

.answerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12rem;

    button {
        color: #87edff;
        width: 200px;

        &.correct {
            color: green;
        }

        &.incorrect {
            color: red;
        }
    }
}

.nextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}