<div class="imageContainer">
    <img src={{pokemonImage}} [ngClass]="revealPokemon ? 'revealPokemon' : 'hidePokemon'" alt="" aria-label="Pokemon">
</div>
<div class="answerContainer">
    <button (click)="answerButtonClick()">{{pokemonName}}</button>
    <button (click)="answerButtonClick()">{{wrongAnswers[0]}}</button>
    <button (click)="answerButtonClick()">{{wrongAnswers[1]}}</button>
    <button (click)="answerButtonClick()">{{wrongAnswers[2]}}</button>
</div>
<div class="nextContainer">
    <button *ngIf="revealPokemon" (click)="getNextPokemon()">NEXT</button>
</div>